.myTodos{
    padding: 0.5em;
    background-color: #892424;
    flex: 2 1.5 0;

    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.todoElement{
    background-color: wheat;
    padding: 0.5em;
    border-radius: 0.2em;
}

.todoElement div{
    padding: 0;
}

.completed{
    background-color: #b2abab;
    text-decoration: line-through;
}

.title-container {
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    padding: 10px 0.5em;
    margin-bottom: 0.5em;
}

.title-container .prioritySpan{
    text-align: center;
}

.description-container {
    padding: 0 1em;
    font-weight: lighter;
    font-style: italic;

    display: grid;
    grid-template-columns: 1fr 200px;
}

.description-container .date{
    text-align: right;
    font-weight: 450;
    font-style: normal;
}

.title-container > input, .checklist > input {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translatex(0.5em);

    display: grid;
    place-content: center;

}

.checklist > input{
    width: 0.9em;
    height: 0.9em;
}

input[type="checkbox"]::before, .checklist > input::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rebeccapurple;
}

input[type="checkbox"]:checked::before, .checklist > input:checked::before {
    transform: scale(1);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.statusBar{
    font-size: 1.8em;
    display: flex;
    justify-content: flex-end;
    gap: 0.75em;
    align-items: center;
}

.statusBar > span{
    color: #3aac33;
    font-weight: bold;
}

.checklist{
    display: flex;
    gap: 0.75em;
    align-items: center;
}

.allCheckListItems .completed{
    background-color: #aea185;
}

.allCheckListItems{
    background-color: #e5d0a6;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.todoElement.completed .allCheckListItems{
    background-color: #b2abab;
}

.todoElement.completed .allCheckListItems .completed{
    background-color: #b2abab;
}

.todoElement.completed .statusBarInput{
    background-color: #b2abab;
}

.todoElement .allCheckListItems{
    padding: 0.5em;
}

.statusBarInput{
    margin-right: auto;
    margin-left: 1em;
    width: 35%;
    height: 20px;

    background-color: #efeabc;
    //border: 3px solid #173e94;
    outline: 1px solid #d09570;
}


